.contatosFooter {
  background-color: #005695;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  color: #ffff;
  padding-left: 2%;
  font-size: 18px;

  nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;

    a {
      transform-style: preserve-3d;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
      }
    }
  }
}

.copyright {
  background-color: #232020;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

@media (max-width: 780px) {
  .contatosFooter {
    flex-direction: column;
    height: 13vh;

    p {
      padding-top: 15px;
    }

    nav {
      width: 70%;
      height: 25vh;

      a {
        transform-style: preserve-3d;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
        }
      }
    }
  }

  .copyright {
    font-size: 12px;

    p {
      width: 55%;
      text-align: center;
    }
  }
}
