.livrosDoadosSection {
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: 32px;
  }
}

.containerCards {
  width: 90%;
  height: 60vh;

  section {
    border: solid 3px #005695;
    border-radius: 20px;
    width: 18%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform-style: preserve-3d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
    }
  }
}

div {
  text-align: center;
}

@media (max-width: 780px) {
  .livrosDoadosSection {
    padding-top: 5%;
    h2 {
      height: 10vh;
    }
  }
  .containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      width: 60%;
    }
  }
}
